apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: microservice-b
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "true"
      labels:
        app: microservice-b
    spec:
      containers:
        - name: microservice-b
          image: quay.io/maltron/microservice:B
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: MICROSERVICE
              value: "microservice-c:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: microservice-b
  labels:
    app: microservice-b
spec:
  ports:
  - name: http
    port: 8081
  selector:
    app: microservice-b
          
